@media (min-width: 768px) and (max-width: 1023px) {
  .banner-section .banner-text h1 {
    font-size: 50px;
    line-height: 1.5; }
  .portfolio-box.col3 .work-post {
    width: 50%; } }

@media (max-width: 767px) {
  .mbl-hidden {
    display: none; }
  .mbl-mb-30 {
    margin-bottom: 30px; }
  .mbl-mt-30 {
    margin-top: 30px; }
  .pad80 {
    padding: 50px 0; }
  .pad-t80 {
    padding-top: 50px; }
  .pad-b50 {
    padding-bottom: 30px; }
  .navbar-fixed-top {
    margin-top: 0;
    background-color: #000;
    position: inherit !important; }
  .section-title {
    margin-bottom: 50px; }
    .section-title h3 {
      font-size: 24px;
      line-height: 28px; }
  .breadcrumb {
    float: left;
    padding-left: 0; }
  .banner-section .banner-text h1 {
    font-size: 40px;
    line-height: 1.5; }
  .call-to-action-2 h3 {
    margin-bottom: 20px; }
  .portfolio-box.col3 .work-post {
    width: 100%; }
  .footer-section {
    padding: 50px 0; }
  .page-banner .breadcrumb {
    float: left; }
    .page-banner .breadcrumb li:first-child {
      margin-left: 0; } }
